.action-modal {
  &-header {
    margin-bottom: 1.7rem;
    p {
      margin: 0;
      text-align: center;
      font-weight: 500;
      font-size: 20px;
    }
  }
  &-title {
    margin-bottom: 1rem;
    color: $red;
    font-size: 15px;
    font-weight: bold;
  }
  &-vlt-infos {
    display: flex;
    p {
      margin-right: 1rem !important;
    }
  }
  &-details {
    padding-right: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    h4 {
      margin: 0;
      margin-bottom: 6px;
      font-size: 13px;
    }
    p {
      margin: 0;
      color: $grey-paragraph;
      font-size: 13.8px;
      font-weight: 500;
      line-height: 1.4;
    }
  }
  &-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
  }
  &-button {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
