.action-list {
  &-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    &-right {
      display: flex;
    }
  }
  .flex-end {
    justify-content: flex-end;
  }
  &-total {
    color: #555;
    margin-right: 0.5rem;
    margin-left: 2rem;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 500;
  }
}

.loader {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-action-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

@media screen and (max-width: $md) {
  .action-list {
    &-header {
      margin-bottom: 0;
      align-items: center;
      .MuiButton-root-94 {
        padding: 8px 5px;
        font-size: 0.75rem;
      }
    }
    &-total {
      color: #555;
      margin-right: 0;
      margin-left: 0.5rem;
      font-size: 13px;
    }
  }
}
