.action-list {
  margin-top: 1rem;
}

.loader {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-action-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
