@import '../../styles/variables';

.action-card {
    margin-top: 1.5rem;

    &-summary {
        width: 100%;
        margin-right: 1rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-end;
    }
    &-infos {
        flex-basis: 50%;
    }
    &-date {
        margin: 0;
        color: $red;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1.5px;
    }
    &-title {
        margin: 12px 0;
        color: $grey-title;
        font-size: 15.5px;
        font-weight: bold;
    }
    &-time-place {
        margin: 0;
        font-size: 13px;
        font-weight: 500;
    }
    &-vlt {
        &-infos {
            p {
                margin: 0;
                margin-top: 5px;
                font-size: 15px;
                font-weight: 500;
            }
        }
        &-reg {
            margin-left: 5px;
            color: $cyan;
            font-weight: bold;
        }
        &-needed {
            margin-left: 5px;
            color: $red;
            font-weight: bold;
        }
    }
    &-button {
        flex-basis: 23%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    &-details {
        padding-right: 2rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        h4 {
            margin: 0;
            margin-bottom: 6px;
            font-size: 13px;
        }
        p {
            margin: 0;
            color: $grey-paragraph;
            font-size: 13.8px;
            font-weight: 500;
            line-height: 1.4;
        }
    }
    &-description {
        flex-basis: 55%;
    }
}

.action-modal {
    &-header {
        margin-bottom: 1.7rem;
        p {
            margin: 0;
            text-align: center;
            font-weight: 500;
            font-size: 20px;
        }
    }
    &-title {
        margin-bottom: 1rem;
        color: $red;
        font-size: 15px;
        font-weight: bold;
    }
    &-vlt-infos {
        display: flex;
        p {
            margin-right: 1rem;
        }
    }
    &-buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: 1.5rem;
    }
    &-button {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}
