.users-list {
  margin: auto 7rem;
  &-total {
    margin-top: 0;
    margin-right: 0.5rem;
    color: #555;
    text-align: right;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    span {
      font-size: 14px;
    }
  }
}
