.actions {
  min-height: 100%;
  padding: 2rem 5rem;
  margin-left: 16rem;
  @media screen and (max-width: $sm) {
    margin-left: 0;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
}
